<body>
  <div class="nav">
    <div class="nav-copy"></div>
    <a href="../home/index" class="nav-logo nav-logo-left">
        <%=image_tag 'logo2.png'%>
    </a>
    <a href="../designs/index">
      <div class="under nav-design current"> Design <div class="under-line"></div></div>
    </a>
    <a href="../webs/index">
      <div class="under nav-code"> Code <div class="under-line"></div></div>
    </a>
    <a href="../arts/index">
      <div class="under nav-art"> Art <div class="under-line"></div></div>
    </a>
    <a href="../about/index">
      <div class="under" id="nav-about"> About <div class="under-line"></div></div>
    </a>
  </div>

  <div class="navbar">
  </div>
  <div id="wrap">
    <div class="work"></div>
    <div class="work"></div>
    <div class="work"></div>
  </div>
</body>
