<head>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
  <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Raleway">
</head>

<body>

  <div class="closer clickable" id="graphiccloser"><img src="xwhite.png" class="x xwhite"></div>
  <div class="closer clickable" id="codecloser"><img src="xwhite.png" class="x xwhite"></div>
  <div class="closer clickable" id="artcloser"><img src="xwhite.png" class="x xwhite"></div>
  <div class="closer clickable" id="aboutcloser"><img src="xwhite.png" class="x xwhite"></div>

  <div class="sectionpop" id="graphicpop">
    <div class="sectionwrap">
      <div class="workstitle">
        <h1> Design </h1>
        <p> Click to explore my projects, sketches, and doodles. </p>
      </div>
      <div class="workswrap">
        <div class="work" id="feasterwork">
          <div class="workcover">Feaster | Visual, Marketing, & UI Design</div>
          <img src="marketing.png">
        </div>
        <div class="work" id="last">
          <div class="workcover">Map of Berkeley | Graphic Design</div>
          <img src="buildings.png" class="hor">
        </div>
        <div class="work">
          <div class="workcover">hello</div>
          <img src="dragon.png">
        </div>
        <div class="work" id="last">
          <div class="workcover">hello</div>
          <img src="dragon.png">
        </div>
      </div>
    </div>
  </div>

  <div class="sectionpop" id="codepop">
    <div class="workstitle">
      <h1> Code </h1>
      <p> Click to explore some of my sites and webapps. </p>
    </div>
    <div class="workswrap">
      <div class="work">
        <div class="workcover">FEASTER | VISUAL, MARKETING, & UI DESIGN</div>
        <img src="marketing.png">
      </div>
      <div class="work" id="last">
        <div class="workcover">hello</div>
        <img src="dragon.png">
      </div>
      <div class="work">
        <div class="workcover">hello</div>
        <img src="buildings.png" class="hor">
      </div>
      <div class="work" id="last">
        <div class="workcover">hello</div>
        <img src="dragon.png">
      </div>
    </div>
  </div>

  <div class="sectionpop" id="artpop">
    <div class="workstitle">
      <h1> Fine Art </h1>
      <p> Click to explore some of my paintings, mixed media compositions, and other fine art works. </p>
    </div>
    <div class="workswrap">
      <div class="work">
        <div class="workcover">Alice In Wonderland</div>
        <img src="arts.png" class="hor">
      </div>
      <div class="work" id="last">
        <div class="workcover">hello</div>
        <img src="wood.png" class="hor">
      </div>
      <div class="work">
        <div class="workcover">hello</div>
        <img src="robot.png" class="hor">
      </div>
      <div class="work" id="last">
        <div class="workcover">hello</div>
        <img src="dragon.png">
      </div>
    </div>
  </div>

  <div class="sectionpop" id="aboutpop">
    <div class="about-wrapper">
      <div class="aboutdiv aboutphoto"></div>
      <div class="aboutdiv aboutcontent">
        <div class="cursive"> <b>Hi there!</b> </div>
        <h1> Adriana Babakanian </h1>
        <div class="divide"></div>
        <p> I'm a second year Regents' Scholar at UC Berkeley pursuing
          a double major in Applied Mathematics and Computer Science. I have a passian for exploring
          the intersection between design and technology in order to create in ways that benefit
          those who interact with my creations. </p>
        <p> I love doodling on my drawing tablet, developing websites, roaming around San Francisco with a pack of instant film,
          eating tacos/carne asada fries, and going on beachside hikes with my dog Holly. </p>
        <h3> Experience </h3>
        <ul>
          <li> Branding, Marketing, & UI/UX Designer at Feaster </li>
          <li> Marketing & Gold Tier at Innovative Design </li>
          <li> UI/UX & Branding Designer at Laud'Em </li>
        </ul>
        <h3> Web Development </h3>
        <p> Ruby on Rails | HTML | CSS | JavaScript </p>
        <h3> Programming </h3>
        <p> Java | Python | Ruby </p>
      </div>
    </div>
  </div>

  <!-- detail section about a specific project or work -->
  <div class="workpop" id="feasterpop">
    <div class="goback clickable"><div class="up"><img src="up.png" class="x"></div><p style="margin-top:0px"> back to design </p></div>
    <div class="introimage-wrapper"><div class="introimage"><img src="marketing.png"></div></div>
    <div class="workcontent">
      <h1> Feaster </h1>
      <p> I have been working with a UC Berkeley startup called <a href="https://www.feasterworks.com/" target="_blank">Feaster</a>, a
        <a href="https://www.getfeaster.com/" target="_blank">Messenger Bot</a>
        that provides users with custom deals and offers on local food and drink. Through Feaster I have
        had the opportunity to fully create and execute a visual identity, marketing materials,
        landing pages, and more for a project that I am very excited and honored to have vastly contributed
        towards.
    </div>

  </div>

  <div class="wrapper">

  <div class="nav">
    <div class="nav-copy"></div>
    <div class="under clickable" id="nav-menu"> Menu <div class="under-line"></div></div>
    <div class="under clickable" id="nav-about"> About <div class="under-line"></div></div>
    <a href="home/index" class="nav-logo nav-logo-center">
        <img src="logo2.png">
    </a>
  </div>
  <div class="navbar">
  </div>

  <div class="fix">
    <div class="h-wrap" id="fixed">
      <div class="h-box h-text" id="fixed-h"> <b>all design</b> </div>
      <div class="h-box h-back" id="fixed-h"></div>
    </div>
    <div class="h-wrap" id="fixed">
      <div class="h-box h-text" id="fixed-h"> <b>all code</b> </div>
      <div class="h-box h-back" id="fixed-h"></div>
    </div>
  </div>

  <div id="wrap">
      <div id="hello">
        <div class="color-box"></div>
        <div class="text-box">
          <h1> Hello world! </h1>
          <p> I'm Adriana, a user experience engineer, graphic designer, and web
            developer studying Math & Computer Science at the University of
            California, Berkeley. If you like elephants, enamel pins, shrimp
            tempura, or string lights, consider me your new best friend. </p>
          <div class="h-wrap clickable" id="aboutme">
            <div class="h-box h-text"> <b>about me</b> </div>
            <div class="h-box h-back"></div>
          </div>
        </div>
      </div>


      <div class="clickable" id="graphic">
        <div class="pop" id="one"><img src="sushi.png"></div>
        <div id="graphic-text">design</div>
        <div id="chop"><img src="chop.png"></div>
        <div id="g-sub-text"> Icons, doodles, random whimsical ideas - you name it. </div>
        <div id="sushi-wrap">
          <img src="dragon.png">
        </div>
      </div>


    <div class="clickable" id="dev-wrapper">
      <div id="dev-img"><img src="webdev.png"></div>
      <div id="code"><img src="code.png"></div>
      <div id="dev-text">
        <h1 style="color:white;padding:30px;font-size:50px;padding-bottom:0px">code</h1>
        <p style="color:white;padding:40px;padding-top:0px;font-size:16px">I coded up this site from scratch - check out
          some of my other projects too! </p>
      </div>
    </div>

    <div class="clickable" id="fine-wrapper">
      <div id="fine-img-wrap">
        <div id="fine-img"><img src="arts.png"></div>
      </div>
      <div id="pallet"><img src="pallet.png"></div>
      <div id="fine-text">
        <h1 style="color:white;padding:30px;font-size:50px;padding-bottom:0px;margin-left:10px">fine art</h1>
        <p style="color:white;padding:40px;padding-top:0px;font-size:16px;width:180px;margin-top:-20px">As much as I hover over
        my tablet and keyboard, there's nothing quite like the organic. </p>
      </div>
    </div>

  </div>

  <div id="footer">
    <h1 style="text-align:center;padding-top:60px"> Let's get in touch! </h1>
    <div id="contacts">
      <div class="contact-wrapper">
        <a href="https://www.behance.net/adrianababakanian" target="_blank">
          <div class="contact">
            <div class="hide"><img style="z-index:100" src="be3flip.png"></div>
            <div class="flip"><img style="z-index:200" src="be2.png"></div>
            <div class="circle"></div>
          </div>
        </a>
      </div>
      <div class="contact-wrapper">
        <a href="https://www.pinterest.com/ababakanian/" target="_blank">
          <div class="contact">
            <div class="hide"><img style="z-index:100" src="pin3flip.png"></div>
            <div class="flip"><img style="z-index:200" src="pin2.png"></div>
            <div class="circle"></div>
          </div>
        </a>
      </div>
      <div class="contact-wrapper">
        <a href="https://github.com/adrianababakanian" target="_blank">
          <div class="contact">
            <div class="hide"><img style="z-index:100"src="git3flip.png"></div>
            <div class="flip"><img style="z-index:200" src="git2.png"></div>
            <div class="circle"></div>
          </div>
        </a>
      </div>
      <div class="contact-wrapper">
        <a href="https://www.linkedin.com/in/adriana-babakanian-60b597112" target="_blank">
          <div class="contact">
            <div class="hide"><img style="z-index:100" src="in3flip.png"></div>
            <div class="flip"><img style="z-index:200" src="in2.png"></div>
            <div class="circle"></div>
          </div>
        </a>
      </div>
      <div class="contact-wrapper">
        <a href="mailto:ababakanian@berkeley.edu" target="_blank">
          <div class="contact">
            <div class="hide"><img style="z-index:100" src="mail3flip.png"></div>
            <div class="flip"><img style="z-index:200" src="mail2.png"></div>
            <div class="circle"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- um deleted a random closed div tag here so if something weird happens perhaps
it could be attributed to this?? -->

</body>

<script>

  //on and off toggle of design section
  $('#graphic, #graphicmenu').click(function() {
    $('#graphicpop').animate({left: "0px"}, {duration: 400, queue: false, easing: "linear"});
    $('.wrapper').animate({marginLeft: "-100vw"}, {duration: 400, queue: false, easing: "linear"});
    $('#graphiccloser').animate({top: "3vh"}, {duration: 200, queue: true, easing: "linear"});
    $('.menu').animate({marginLeft: "-30vw"}, {duration: 50, queue: false, easing: "linear"});
    $('.divider').animate({width: "0px"}, {duration: 600, queue: false, easing: "linear"});
  });
  $('#graphiccloser').click(function() {
    $('#graphiccloser').animate({top: "-60px"}, {duration: 200, queue: true, easing: "linear"});
    $('#graphicpop').animate({left: "100vw"}, {duration: 400, queue: false, easing: "linear"});
    $('.wrapper').animate({marginLeft: "0px"}, {duration: 400, queue: false, easing: "linear"});
  });

  //on and off toggle of code section
  $('#dev-wrapper, #codemenu').click(function() {
    $('#codepop').animate({left: "0px"}, {duration: 400, queue: false, easing: "linear"});
    $('.wrapper').animate({marginLeft: "-100vw"}, {duration: 400, queue: false, easing: "linear"});
    $('#codecloser').animate({top: "3vh"}, {duration: 200, queue: true, easing: "linear"});
    $('.menu').animate({marginLeft: "-30vw"}, {duration: 50, queue: false, easing: "linear"});
    $('.divider').animate({width: "0px"}, {duration: 600, queue: false, easing: "linear"});
  });
  $('#codecloser').click(function() {
    $('#codecloser').animate({top: "-60px"}, {duration: 200, queue: true, easing: "linear"});
    $('#codepop').animate({left: "100vw"}, {duration: 400, queue: false, easing: "linear"});
    $('.wrapper').animate({marginLeft: "0px"}, {duration: 400, queue: false, easing: "linear"});
  });

  //on and off toggle of art section
  $('#fine-wrapper, #artmenu').click(function() {
    $('#artpop').animate({left: "0px"}, {duration: 400, queue: false, easing: "linear"});
    $('.wrapper').animate({marginLeft: "-100vw"}, {duration: 400, queue: false, easing: "linear"});
    $('#artcloser').animate({top: "3vh"}, {duration: 200, queue: true, easing: "linear"});
    $('.menu').animate({marginLeft: "-30vw"}, {duration: 50, queue: false, easing: "linear"});
    $('.divider').animate({width: "0px"}, {duration: 600, queue: false, easing: "linear"});
  });
  $('#artcloser').click(function() {
    $('#artcloser').animate({top: "-60px"}, {duration: 200, queue: true, easing: "linear"});
    $('#artpop').animate({left: "100vw"}, {duration: 400, queue: false, easing: "linear"});
    $('.wrapper').animate({marginLeft: "0px"}, {duration: 400, queue: false, easing: "linear"});
  });

  //on and off toggle of about section
  $('#nav-about, #aboutme, #aboutmenu').click(function() {
    $('#aboutpop').animate({left: "0px"}, {duration: 400, queue: false, easing: "linear"});
    $('.wrapper').animate({marginLeft: "-100vw"}, {duration: 400, queue: false, easing: "linear"});
    $('#aboutcloser').animate({top: "3vh"}, {duration: 200, queue: true, easing: "linear"});
    $('.menu').animate({marginLeft: "-30vw"}, {duration: 50, queue: false, easing: "linear"});
    $('.divider').animate({width: "0px"}, {duration: 600, queue: false, easing: "linear"});
  });
  $('#aboutcloser').click(function() {
    $('#aboutcloser').animate({top: "-60px"}, {duration: 200, queue: true, easing: "linear"});
    $('#aboutpop').animate({left: "100vw"}, {duration: 400, queue: false, easing: "linear"});
    $('.wrapper').animate({marginLeft: "0px"}, {duration: 400, queue: false, easing: "linear"});
  });

  //on and off toggle of work section
  $('#feasterwork').click(function() {
    $('#graphiccloser').animate({top: "-60px"}, {duration: 200, queue: true, easing: "linear"});
    $('#feasterpop').animate({top: "0px"}, {duration: 300, queue: false, easing: "linear"});
    $('.sectionwrap').animate({top: "100vh"}, {duration: 100, queue: false, easing: "linear"});
  });
  $('.goback').click(function() {
    $('#feasterpop').animate({top: "100vh"}, {duration: 300, queue: false, easing: "linear"});
    $('.sectionwrap').animate({top: "0px"}, {duration: 400, queue: false, easing: "linear"});
    $('#graphiccloser').animate({top: "3vh"}, {duration: 200, queue: true, easing: "linear"});
  });

</script>
