<head>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
  <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Raleway">
</head>

<body>

  <div class="closer clickable"></div>

  <div class="sectionpop">
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler"></div>
  </div>

  <div class="wrapper">

  <div class="nav">
    <div class="nav-copy"></div>
    <div class="under" id="nav-menu"> Menu <div class="under-line"></div></div>
    <a href="../about/index"><div class="under" id="nav-about"> About <div class="under-line"></div></div></a>
    <a href="home/index" class="nav-logo nav-logo-center">
        <img src="logo2.png">
    </a>
  </div>
  <div class="navbar">
  </div>

  <div class="fix">
    <div class="h-wrap" id="fixed">
      <div class="h-box h-text" id="fixed-h"> <b>all design</b> </div>
      <div class="h-box h-back" id="fixed-h"></div>
    </div>
    <div class="h-wrap" id="fixed">
      <div class="h-box h-text" id="fixed-h"> <b>all code</b> </div>
      <div class="h-box h-back" id="fixed-h"></div>
    </div>
  </div>

  <div id="wrap">
      <div id="hello">
        <div class="color-box"></div>
        <div class="text-box">
          <h1> Hello world! </h1>
          <p> I'm Adriana, a user experience engineer, graphic designer, and web
            developer studying Math & Computer Science at the University of
            California, Berkeley. If you like elephants, enamel pins, shrimp
            tempura, or string lights, consider me your new best friend. </p>
          <div class="h-wrap">
            <div class="h-box h-text"> <b>about me</b> </div>
            <div class="h-box h-back"></div>
          </div>
        </div>
      </div>


      <div class="clickable" id="graphic">
        <div class="pop" id="one"><img src="sushi.png"></div>
        <div id="graphic-text">design</div>
        <div id="chop"><img src="chop.png"></div>
        <div id="g-sub-text"> Icons, doodles, random whimsical ideas - you name it. </div>
        <div id="sushi-wrap">
          <img src="dragon.png">
        </div>
      </div>


    <div id="dev-wrapper">
      <div id="dev-img"><img src="webdev.png"></div>
      <div id="code"><img src="code.png"></div>
      <div id="dev-text">
        <h1 style="color:white;padding:30px;font-size:50px;padding-bottom:0px">code</h1>
        <p style="color:white;padding:40px;padding-top:0px;font-size:16px">I coded up this site from scratch - check out
          some of my other projects too! </p>
      </div>
    </div>

    <div id="fine-wrapper">
      <div id="fine-img-wrap">
        <div id="fine-img"><img src="arts.png"></div>
      </div>
      <div id="pallet"><img src="pallet.png"></div>
      <div id="fine-text">
        <h1 style="color:white;padding:30px;font-size:50px;padding-bottom:0px;margin-left:10px">fine art</h1>
        <p style="color:white;padding:40px;padding-top:0px;font-size:16px;width:180px;margin-top:-20px">As much as I hover over
        my tablet and keyboard, there's nothing quite like the organic. </p>
      </div>
    </div>

  </div>

  <div id="footer">
    <h1 style="text-align:center;padding-top:60px"> Let's get in touch! </h1>
    <div id="contacts">
      <div class="contact-wrapper">
        <a href="https://www.behance.net/adrianababakanian" target="_blank">
          <div class="contact">
            <div class="hide"><img style="z-index:100" src="be3flip.png"></div>
            <div class="flip"><img style="z-index:200" src="be2.png"></div>
            <div class="circle"></div>
          </div>
        </a>
      </div>
      <div class="contact-wrapper">
        <a href="https://www.pinterest.com/ababakanian/" target="_blank">
          <div class="contact">
            <div class="hide"><img style="z-index:100" src="pin3flip.png"></div>
            <div class="flip"><img style="z-index:200" src="pin2.png"></div>
            <div class="circle"></div>
          </div>
        </a>
      </div>
      <div class="contact-wrapper">
        <a href="https://github.com/adrianababakanian" target="_blank">
          <div class="contact">
            <div class="hide"><img style="z-index:100"src="git3flip.png"></div>
            <div class="flip"><img style="z-index:200" src="git2.png"></div>
            <div class="circle"></div>
          </div>
        </a>
      </div>
      <div class="contact-wrapper">
        <a href="https://www.linkedin.com/in/adriana-babakanian-60b597112" target="_blank">
          <div class="contact">
            <div class="hide"><img style="z-index:100" src="in3flip.png"></div>
            <div class="flip"><img style="z-index:200" src="in2.png"></div>
            <div class="circle"></div>
          </div>
        </a>
      </div>
      <div class="contact-wrapper">
        <a href="mailto:ababakanian@berkeley.edu" target="_blank">
          <div class="contact">
            <div class="hide"><img style="z-index:100" src="mail3flip.png"></div>
            <div class="flip"><img style="z-index:200" src="mail2.png"></div>
            <div class="circle"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- um deleted a random closed div tag here so if something weird happens perhaps
it could be attributed to this?? -->

</body>

<script>

  $('#graphic').click(function() {
    $('.sectionpop').animate({left: "0px"}, {duration: 400, queue: false, easing: "linear"});
    $('.closer').animate({top: "3vh"}, {duration: 400, queue: false, easing: "linear"});
    $('.wrapper').animate({marginLeft: "-100vw"}, {duration: 400, queue: false, easing: "linear"});
  });

  $('.closer').click(function() {
    $('.sectionpop').animate({left: "100vw"}, {duration: 400, queue: false, easing: "linear"});
    $('.closer').animate({top: "-50px"}, {duration: 400, queue: false, easing: "linear"});
    $('.wrapper').animate({marginLeft: "0px"}, {duration: 400, queue: false, easing: "linear"});
  });

</script>
