<div id="wrapper">
  <div id="intro-text"> Hi there! I'm Adriana Babakanian, a second year Regents' Scholar at the Univeristy
    of California, Berkeley majoring in Applied Math and Computer Science. I'm a user experience
    engineer, graphic designer, and web developer passionate about exploring the intersection
    between design and technology. </div>
</div>
