// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#intro-text {
  width: 300px;
  font-size: 16px;
  color: #454545;
  font-weight: 300;
}
