/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, html {
  margin: 0 !important;
  padding: 0 !important;
  color: #303030;
  font-size: 14px;
  font-family: Muli;
  font-weight: 400;
  margin-left: 0px;
}

a:link {
  color: #303030;
}

a:visited {
  color: #303030;
}

a:hover {
  color: #303030;
}

a:active {
  color: #303030;
}

#wrap {
  width: 1100px;
  margin: 0 auto;
  margin-top: 40px;
}

.hider {
  width: 100vw;
  height: 100vh;
  background-color: #101010;
  opacity: .6;
  position: fixed;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
}

.menu {
  width: 30vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  z-index: 1000;
  margin-left: -29vw;
  transition: .3s;
}

/*#nav-menu:hover ~ .menu {
  margin-left: 0vw;
  transition: .3s;
}

#nav-menu:hover ~ .hider {
  display: block;
}*/

.menu:hover {
  margin-left: 0vw;
  transition: .3s;
}

.menu:hover ~ .hider {
  visibility: visible;
  opacity: .6;
  transition: opacity .3s ease-in-out;
}

.menu-logo {
  width: 30px;
  height: 30px;
  position: relative;
  top: 10%;
  left: 10%;
}

.section-wrap {
  margin-left: 10%;
  margin-top: 30%;
}

.section {
  display: inline-block;
}

.liner {
  width: 0px;
  height: 1px;
  background-color: #303030;
  transition: .3s;
  margin-top: -15px;
  margin-bottom: 15px;
}

.section:hover .liner {
  width: 100%;
  transition: .3s;
}

.section-title {
  font-size: 23px;
  margin-bottom: 1px;
  font-family: Puritan;
  font-weight: 800;
  display: inline-block;
}

.divider {
  width: 80%;
  height: 5px;
  background-color: #DCEBF7;
  transform: translateX(10%);
  margin-top: 8%;
}

.contact-wrap {
  width: 80%;
  transform: translateX(10%);
  height: 40px;
  margin-top: 8%;
}

.menu-contact-wrapper {
  width: 8%;
  padding-top: 8%;
  float: left;
  position: relative;
  margin-right: 15%;
}

#last {
  margin-right: 0px;
}

.menu-contact {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 2px #303030 solid;
  z-index: 50;
  position: absolute;
  float: left;
  background-color: white;//#303030;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-flip {
  width: 100%;
  height: 100%;
  display: none;
  z-index: 500;
}

.menu-circle {
  width: 0px;
  height: 0px;
  background-color: #303030;//white;
  border-radius: 100%;
  // border: 2px #303030 solid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.menu-contact:hover {
  width: 100%;
  height: 100%;
  transition: .3s;
}

.menu-contact:hover .menu-circle {
  width: 100%;
  height: 100%;
  transition: .3s;
  border: 2px #303030 solid;
}

.menu-contact:hover .menu-flip {
  display: block;
  z-index: 2000;
}

@keyframes spin {
  100% {transform: rotate(360deg);}
}

.menu-hide {
  width: 100%;
  height: 100%;
  position: relative;
}

.menu-contact:hover .menu-hide {
  display: none
}

#nav {
  width: 100%;
  height: 100px;
  background-color: white;
  position:fixed;
  margin-top: 0px;
  z-index: 500;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: white;
}

#nav-copy {
  width: 100%;
  height: 100px;
  position:fixed;
  margin-top: 0px;
  z-index: 500;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DCEBF7;
  opacity: 0;
}

#nav-logo {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

#nav-logo:hover {
  opacity: .5;
}

#nav-text-left {
  margin-left: 10%;
  position: absolute;
  top: 50%;
  transform: translate(-50%);
}

.under {
  z-index: 500;
  position: fixed;
  height: 100px;
  line-height: 100px;
  top: 0px;
}

.under-line {
  height: 1px;
  width: 0px;
  background-color: #303030;
  position: absolute;
  transition: .3s;
  margin-top: -42px;
}

.under:hover .under-line {
  width: 100%;
  transition: .3s;
}

#nav-menu {
  margin-left: 5vw;
  text-align: left;
}

#nav-about {
  right: 5vw;
  text-align: right;
}

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}
.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -1px;
  background: #000;
  height: 1px;
  transition-property: left right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  right: 0;
}




 .home_button {
   width: 100px;
   height: 100px;
   background-image: url("logo.png");
   background-color: transparent;
   border-style: none;
 }

 #menu-text {
   margin-left: 0px;
   position: relative;
 }

 #about-text {
   margin-right: 0px;
   position: relative;
 }

 #navbar {
   width: 100%;
   height: 100px;
   margin: 0 auto;
   margin-top: 0px;
 }

 .work-box {
   width: 280px;
   float: left;
   height: 300px;
   position: relative;
   background-color: blue;
 }

 .work-img {
   width: 280px;
   height: 280px;

 }

 img {
   position: absolute;
   height: 100%;
   top: -9999px;
   bottom: -9999px;
   left: -9999px;
   right: -9999px;
   margin: auto;
 }

 .work-title {
   height: 20px;
   width: 280px;
   text-align: center;
   line-height: 20px;
 }
