<!DOCTYPE html>
<html>
<head>
  <title>Adriana Babakanian</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Muli">
  <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Puritan">
</head>

<div class="menu">
  <div class="menu-logo"><img src="logo2.png"></div>
  <div class="section-wrap">
    <a href="../designs/index"><div class="section"><p> Design </p> <div class="liner"></div></div><br/></a>
    <a href="../webs/index"><div class="section"><p> Code </p> <div class="liner"></div> </div><br/></a>
    <a href="../arts/index"><div class="section"><p> Fine Art </p> <div class="liner"></div> </div><br/></a>
    <a href="../about/index"><div class="section"><p> About </p> <div class="liner"></div> </div><br/></a>
  </div>
  <div class="divider"></div>
  <div class="contact-wrap">
      <div class="menu-contact-wrapper">
        <a href="https://www.behance.net/adrianababakanian" target="_blank">
          <div class="menu-contact">
            <div class="menu-hide"><img style="z-index:100" src="be3flip.png"></div>
            <div class="menu-flip"><img style="z-index:200" src="be2.png"></div>
            <div class="menu-circle"></div>
          </div>
        </a>
      </div>
      <div class="menu-contact-wrapper">
        <a href="https://www.pinterest.com/ababakanian/" target="_blank">
          <div class="menu-contact">
            <div class="menu-hide"><img style="z-index:100" src="pin3flip.png"></div>
            <div class="menu-flip"><img style="z-index:200" src="pin2.png"></div>
            <div class="menu-circle"></div>
          </div>
        </a>
      </div>
      <div class="menu-contact-wrapper">
        <a href="https://github.com/adrianababakanian" target="_blank">
          <div class="menu-contact">
            <div class="menu-hide"><img style="z-index:100"src="git3flip.png"></div>
            <div class="menu-flip"><img style="z-index:200" src="git2.png"></div>
            <div class="menu-circle"></div>
          </div>
        </a>
      </div>
      <div class="menu-contact-wrapper">
        <a href="https://www.linkedin.com/in/adriana-babakanian-60b597112" target="_blank">
          <div class="menu-contact">
            <div class="menu-hide"><img style="z-index:100" src="in3flip.png"></div>
            <div class="menu-flip"><img style="z-index:200" src="in2.png"></div>
            <div class="menu-circle"></div>
          </div>
        </a>
      </div>
      <div class="menu-contact-wrapper" id="last">
        <a href="mailto:ababakanian@berkeley.edu" target="_blank">
          <div class="menu-contact">
            <div class="menu-hide"><img style="z-index:100" src="mail3flip.png"></div>
            <div class="menu-flip"><img style="z-index:200" src="mail2.png"></div>
            <div class="menu-circle"></div>
          </div>
        </a>
      </div>
  </div>
</div>
<div class="hider"></div>




<body>


<%= yield %>

</body>
</html>

<script>

  //jQuery variable definition
  var $logo = $('.nav-logo');
  var $nav = $('.nav');
  var $navc = $('.nav-copy');
  var $under = $('.under');
  var $line = $('.under-line');
  var isHovered = $('#graphic').is(":hover");

  //animating the navigation bar when scrolling off the top of the document
  $(document).scroll(function() {
    $logo.animate({height: $(this).scrollTop() > 0? "40px":"60px"}, {duration: 100, queue: false, easing: "linear"});
    $nav.animate({height: $(this).scrollTop() > 0? "60px":"100px"}, {duration: 100, queue: false, easing: "linear"});
    $navc.animate({height: $(this).scrollTop() > 0? "60px":"100px"}, {duration: 100, queue: false, easing: "linear"});
    $under.animate({lineHeight: $(this).scrollTop() > 0? "60px":"100px"}, {duration: 100, queue: false, easing: "linear"});
    $under.animate({height: $(this).scrollTop() > 0? "60px":"100px"}, {duration: 100, queue: false, easing: "linear"});
    $navc.animate({opacity: $(this).scrollTop() > 0? "1":"0"}, {duration: 0, queue: false, easing: "linear"});
    $line.animate({marginTop: $(this).scrollTop() > 0? "-22px":"-42px"}, {duration: 0, queue: false, easing: "linear"});
  });

  //floating containers upwards and inwards on scroll
  $(function(){
    $(document).scroll(function(){
        var $scroll = $(this).scrollTop();
        var $goff = $('#graphic').offset();
        var $graphic = $('#graphic');
        if($scroll >= $goff.top - 400) {
            $graphic.css("marginLeft","720px");
            $graphic.css("marginTop", "-40px");
        } else {
            $graphic.css("marginLeft","750px");
            $graphic.css("marginTop", "-10px");
        }
    });
  });


  $(function(){
    $(document).scroll(function(){
        var $scroll = $(this).scrollTop();
        var $doff = $('#dev-wrapper').offset();
        var $dev = $('#dev-wrapper');
        if($scroll >= $doff.top - 500) {
            $dev.css("marginLeft","80px");
            $dev.css("marginTop", "-170px");
        } else {
            $dev.css("marginLeft","60px");
            $dev.css("marginTop", "-130px");
        }
    });
  });

  $(function(){
    $(document).scroll(function(){
        var $scroll = $(this).scrollTop();
        var $foff = $('#fine-wrapper').offset();
        var $fine = $('#fine-wrapper');
        if($scroll >= 1500) {
            $dev.css("marginLeft","520px");
            $dev.css("marginTop", "-230px");
        } else {
            $dev.css("marginLeft","550px");
            $dev.css("marginTop", "-200px");
        }
    });
  });

  //making fixed disappear after certain scroll
  $(document).scroll(function() {
    var $fix = $('.fix');
    $fix.animate({opacity: $(this).scrollTop() > 1000? "0":"1"}, {duration: 50, queue: false, easing: "linear"});
  });

  //menu on toggle
  $('#nav-menu').click(function() {
    $('.menu').animate({marginLeft: "0vw"}, {duration: 100, queue: false, easing: "linear"});
    $('.hider').addClass('showhider');
    $('.hider').animate({marginLeft: "0vw"}, {duration: 100, queue: false, easing: "linear"});
    $('.wrapper').animate({marginLeft: "30vw"}, {duration: 100, queue: false, easing: "linear"});
  });
  //menu off toggle
  $(document).mouseup(function (e)
    {
    var container = $(".menu");

    if (!container.is(e.target) // if the target of the click isn't the container...
        && container.has(e.target).length === 0) // ... nor a descendant of the container
    {
        container.animate({marginLeft: "-30vw"}, {duration: 100, queue: false, easing: "linear"});
        $('.hider').removeClass('showhider');
        $('.hider').animate({marginLeft: "-100vw"}, {duration: 100, queue: false, easing: "linear"});
        $('.wrapper').animate({marginLeft: "0px"}, {duration: 100, queue: false, easing: "linear"});
    }
  });


</script>
