<!DOCTYPE html>
<html>
<head>
  <title>AdrianaBabakanian</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Muli">
  <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Puritan">
</head>

<div class="menu">
  <div class="menu-logo"><img src="logo2.png"></div>
  <div class="section-wrap">
    <p class="section-title"> Design </p> <div class="liner"></div>
    <p class="section-title"> Code </p> <br/>
    <p class="section-title"> Fine Art </p> <br/>
    <p class="section-title"> Marketing </p> <br/>
    <p class="section-title"> About </p> <br/>
  </div>
  <div class="divider"></div>
  <div class="contact-wrap">
      <div class="menu-contact-wrapper">
        <a href="https://www.behance.net/adrianababakanian" target="_blank">
          <div class="menu-contact">
            <div class="menu-hide"><img style="z-index:100" src="be3flip.png"></div>
            <div class="menu-flip"><img style="z-index:200" src="be2.png"></div>
            <div class="menu-circle"></div>
          </div>
        </a>
      </div>
      <div class="menu-contact-wrapper">
        <a href="https://www.pinterest.com/ababakanian/" target="_blank">
          <div class="menu-contact">
            <div class="menu-hide"><img style="z-index:100" src="pin3flip.png"></div>
            <div class="menu-flip"><img style="z-index:200" src="pin2.png"></div>
            <div class="menu-circle"></div>
          </div>
        </a>
      </div>
      <div class="menu-contact-wrapper">
        <a href="https://github.com/adrianababakanian" target="_blank">
          <div class="menu-contact">
            <div class="menu-hide"><img style="z-index:100"src="git3flip.png"></div>
            <div class="menu-flip"><img style="z-index:200" src="git2.png"></div>
            <div class="menu-circle"></div>
          </div>
        </a>
      </div>
      <div class="menu-contact-wrapper">
        <a href="https://www.linkedin.com/in/adriana-babakanian-60b597112" target="_blank">
          <div class="menu-contact">
            <div class="menu-hide"><img style="z-index:100" src="in3flip.png"></div>
            <div class="menu-flip"><img style="z-index:200" src="in2.png"></div>
            <div class="menu-circle"></div>
          </div>
        </a>
      </div>
      <div class="menu-contact-wrapper" id="last">
        <a href="mailto:ababakanian@berkeley.edu" target="_blank">
          <div class="menu-contact">
            <div class="menu-hide"><img style="z-index:100" src="mail3flip.png"></div>
            <div class="menu-flip"><img style="z-index:200" src="mail2.png"></div>
            <div class="menu-circle"></div>
          </div>
        </a>
      </div>
  </div>
</div>
<div class="hider"></div>

<body>
  <div id="nav">
    <div id="nav-copy"></div>
    <div class="under" id="nav-menu"> Menu <div class="under-line"></div></div>
    <div class="under" id="nav-about"> About <div class="under-line"></div></div>
    <a href="home/index" id="nav-logo">
        <img src="logo2.png">
    </a>
  </div>

  <div id="navbar">
  </div>

<%= yield %>

</body>
</html>

<script>

  //jQuery variable definition
  var $logo = $('#nav-logo');
  var $nav = $('#nav');
  var $navc = $('#nav-copy');
  var $under = $('.under');
  var $line = $('.under-line');
  var isHovered = $('#graphic').is(":hover");

  //animating the navigation bar when scrolling off the top of the document
  $(document).scroll(function() {
    $logo.animate({height: $(this).scrollTop() > 0? "40px":"60px"}, {duration: 100, queue: false, easing: "linear"});
    $nav.animate({height: $(this).scrollTop() > 0? "60px":"100px"}, {duration: 100, queue: false, easing: "linear"});
    $navc.animate({height: $(this).scrollTop() > 0? "60px":"100px"}, {duration: 100, queue: false, easing: "linear"});
    $under.animate({lineHeight: $(this).scrollTop() > 0? "60px":"100px"}, {duration: 100, queue: false, easing: "linear"});
    $under.animate({height: $(this).scrollTop() > 0? "60px":"100px"}, {duration: 100, queue: false, easing: "linear"});
    $navc.animate({opacity: $(this).scrollTop() > 0? "1":"0"}, {duration: 0, queue: false, easing: "linear"});
    $line.animate({marginTop: $(this).scrollTop() > 0? "-22px":"-42px"}, {duration: 0, queue: false, easing: "linear"});
  });

  //animating the graphic design container's elements when scrolling past it
  // $(function(){
  //   $(document).scroll(function(){
  //       if($(this).scrollTop() >= $('#graphic').offset().top - 300) {
  //           $("#graphic").css("width","450px");
  //           $("#graphic").css("margin-left","680px");
  //           $("#graphic-text").css("margin-top","40px");
  //           $("#graphic-text").css("margin-left","250px");
  //           $("#g-sub-text").css("display","block");
  //           $("#g-sub-text").css("margin-left","280px");
  //           $("#sushi-wrap").css("margin-left","-40px");
  //           $("#chop").css("animation","up3 3s");
  //       } else {
  //           $("#graphic").css("width","380px");
  //           $("#graphic").css("margin-left","750px");
  //           $("#graphic-text").css("margin-top","60px");
  //           $("#graphic-text").css("margin-left","180px");
  //           $("#g-sub-text").css("display","none");
  //           $("#g-sub-text").css("margin-left","280px");
  //           $("#sushi-wrap").css("margin-left","0px");
  //           $("#chop").css("animation","none");
  //       }
  //   });
  // });

  $(function(){
    $(document).scroll(function(){
        var $scroll = $(this).scrollTop();
        var $goff = $('#graphic').offset();
        var $hovered = $('#graphic:hover');//$('#graphic').is(':hover');
        if($scroll >= $goff.top - 300 || $scroll) {
            $("#chop").css("animation","up3 3s");
        } else {
            $("#chop").css("animation","none");
        }
    });
  });

  //trying to animate chop on hover
  $("#chop").hover(function() {
    $('#chop').hover(function(){ //Open on hover
        $(this).css("animation", "up3 3s" );
    },
    function(){ //Close when not hovered
        $(this).css("animation", "none" );
    });
  });

</script>
